<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather Man</title>
</head>

<body>
  <form action="/" method="post">
    <label for="city"></label>
    <input id="city" type="text" name="cityname" placeholder="Patna">
    <button type="submit">Go</button>
  </form>

</body>

</html>
